<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


  <div class="page-container">

    <div class= "title">
      <img id='left-leaf' src="images/small-leaf.svg">
      <p> MY PLANTS </p>
      <img id='right-leaf' src="images/small-leaf.svg">
    </div>
    </div>
    
    <div class="back-button">
      <a id='back-button' href='/filtered'>
      <img src='images/back-button.svg'>
    </a>
    </div>

      <div class="ok-button">
      <a id='ok-button' href='/addPage'>
      <img src='images/ok-button.svg'>
    </a>
    </div>


    
      
       
  <div class='journal'>
    
    <div class="top">
    <img id='editPhoto' src="images/edit-photo-button.svg">
      <p id='top'>  
      </p></div>
    
     <div class="bottom">
      <p id='nickname'>Nickname:</p>
      <img id= "nickname-rectangle" src="images/edit-box.svg">
      
      <form action="/action_page.php">
        <input type="text" id="nickname-rectangle" name="fname" >
      </form>

      <p id='date'>Start Date:</p>
      <img id= "date-rectangle" src="images/edit-box.svg">
      
      <form action="/action_page.php">
        <input type="text" id="date-rectangle" name="fname" >
      </form>

      <a id='seed-box' href='/index'>
        <img src="images/herbs-button.svg">
      </a>
      <p id='seed'>Seed</p>

      <a id='transplant-box' href='/index'>
        <img src="images/shrubs-button.svg">
      </a>
      <p id='transplant'>Transplant</p>
      
      




  

  </div>



<div class='navigation'>

  <img id='bottom-rectangle' src="images/bottom-rectangle.svg">

  <a id='home-button' href='/index'>
      <img src="images/home-button.svg">
  </a>

  <a href="/calendar">
    <img id='calendar-button' src="images/calendar-button.svg">
  </a>

</div>


  </div>



<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>