<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">

	<title>Login</title>
	<link rel="stylesheet" href="css/login.css">
</head>
<body>

	<div class="container">

		<div class="logo">
			<div class="plant-parenthood">
				<img src="images/plant-parenthood.svg">
			</div>

			<div class="leaf">
				<img src="images/leaf.svg">
			</div>
		</div>

		<hr>
		<h2>Sign In</h2>
		<div class="input-container">
			<div>
				<input type="text" placeholder="Username">
			</div>
			<div>
				<input type="password" placeholder="Password">
			</div>
		</div>
			<div>
				<button type="button" onclick="window.location.href='/index'">Login</button>
			</div>
	</div>

<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>